.hero {

    overflow-x: hidden;

    @include breakpoint-up(large) { //Desktop
        display: flex;
        align-items: center;
        height: 40rem;
        overflow: hidden;
    }

    @include breakpoint-up(medium) { //Tablet
        display: flex;
        align-items: center;
        height: 35rem;
        overflow: hidden;
    }

    &_image {
        position: relative;
        background-image: url(../../images/bg-tablet-pattern.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        min-height: 23rem;
        z-index: -1;
        width: 100%;
        transform: translate(3.125rem, -3.75rem);

        @include breakpoint-up(medium) { //Desktop and Tablet
            flex: 2;
            order: 2;

            min-height: 100%;
            transform: translate(3.125rem, -6.75rem);
        }

        &::before {
            content: "";
            position: absolute;
            background-image: url(../../images/illustration-intro.svg);
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 80%;
            transform: translate(-3.15rem, 5.625rem);
            top: 10%;
        }
    }

    &_text {

        text-align: center;
    
        button {
            margin-top: 0.5rem;
        }

        @include breakpoint-up(medium) { //Desktop and Tablet
            flex: 2;
            order: 1;
            text-align: left;

            h1 {
                font-size: 2.5rem;
            }

            p {
                margin-right: 5rem;
            }
        }
    }
}