.main {

    text-align: center;

    &_heading {

        h2 {
            font-size: 1.5rem;

        }


        @include breakpoint-up(medium) {

            //Desktop and Tablet
            div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                text-align: left;
            }

            h2 {
                font-size: 2.5rem;
                margin-right: 8.4375rem;
            }

            p {
                margin-right: 14rem;
            }
        }
    }


    &_reasons {

        ul {
            list-style-type: none;
            padding-left: 0;

            p {
                padding-left: 1rem;
                padding-right: 1rem;
                margin-bottom: 3rem;
            }
        }

        span {
            display: inline-flex;
            align-items: center;
            background-color: hsl(13, 100%, 96%);
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            width: 100%;
            margin-left: 1rem;

            li {
                padding: 0.5rem 1.5rem;
                background-color: #f25f3a;
                border: 0;
                color: white;
                font-weight: 400;
                border-radius: 50px;
            }

            h3 {
                font-size: 0.9rem;
                padding-left: 1.5rem;
            }
        }
    }
}