.main {
    text-align: center;

    @include breakpoint-up(medium) {
        display: flex;
        text-align: left;
    }

    &_heading {

        h2 { //Mobile
            font-size: 1.5rem;
        }


        @include breakpoint-up(medium) { //Desktop and Tablet

            flex: 2;

            h2 {
                font-size: 2rem;
                margin-top: 0;
            }

            p {
                margin-right: 10rem;
            }
        }
    }


    &_reasons {

        @include breakpoint-up(medium) {
            flex: 2;
        }

        ul {
            list-style-type: none;
            margin-left: -2rem;
            overflow: hidden;
        }

        p {
            padding-left: 1rem;
            padding-right: 1rem;
            margin-bottom: 3rem;
            text-align: left;
        }

        span {
            display: inline-flex;
            align-items: center;
            background-color: hsl(13, 100%, 96%);
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            width: 100%;
            margin-left: 1rem;

            @include breakpoint-up(medium) {
                span {
                    background-color: $white;
                }
            }

            li {
                padding: 0.5rem 1.5rem;
                background-color: #f25f3a;
                border: 0;
                color: white;
                font-weight: 400;
                border-radius: 50px;
            }

            h3 {
                font-size: 0.9rem;
                padding-left: 1.5rem;
                margin-top: 0.2rem;
                margin-bottom: 0.2rem;
            }
        }
    }
}