.simplify {
    background-color: #f25f3a;
    text-align: center;
    height: 20rem;
    display: flex;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        color: $white;
        text-align: center;
        font-size: 2.5rem;
    }

    &::before {
        content: "";
        position: absolute;
        background-image: url(../../images/bg-simplify-section-mobile.svg);
        height: 100%;
        width: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: translate(-5rem, 9.625rem);
    }

    @include breakpoint-up(medium) {
        height: 13rem;
        margin-bottom: 0;
        justify-content: space-between;
        flex-direction: row;

        h2 {
            text-align: left;
            margin-right: 10rem;
        }
    }
}